* {
            box-sizing: border-box;
            margin:0px;
            padding:0px;
          }
        body{
            background-image: url(../img/background.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            padding: 0%;
        }
        .nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            z-index:2000;
            padding:10px;
             
        }
        
        .nav-logo
        {
            display: flex;
            flex-direction: row;
        }
        .nav-logo a{
            color: white;
            font-size: 20px;
            font-family: sans-serif;
            font-weight: 400;
        }
        .NavBox
        {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            flex-wrap: wrap;
        }
        .NavLink
        {
            visibility: hidden;
            font-family: sans-serif;
            font-size: 20px;
            display: block;
            margin: 10px;
            border-radius: 5px;
            padding:5px 10px 5px 10px;
            text-decoration: none;
            color: white;
            opacity: 0.6;
            background-color: black;
        }
        .NavLink:hover
        {
            opacity: 1;
        }
        .Navmenu
        {
            position: relative;
            height: 40px;
            width: 40px;
            display: flex;
            margin-left: 5px;
        }
        .toggler
        {
            position: absolute;
            z-index:2000;
            cursor: pointer;
            height: 100%;
            width: 100%;
            z-index: 400000;
            opacity: 0;
        }
        .Hamburger
        {
            position: absolute;
            z-index:3 ;
            top:0;
            right:0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            background-color: white;
            padding: 8px;
            border-radius: 50px;
        }
        .Hamburger > div
        {
           position: relative;
           width: 100%;
           height: 2px;
           background-color: black;
           display: flex;
           align-items: center;
           justify-content: center;
           transition : all 1s;
        }
        .Hamburger > div:before , .Hamburger > div:after
        {
           content:'';
           position: absolute;
           z-index: 1;
           top: -8px;
          width: 100%;
          height: 2px;
          background: inherit;
          transition : all 0.1s;
        }
        .Hamburger > div:after
        {
            top:8px;
        }
        .Navmenu > .toggler:hover:not(:checked) + .Hamburger > div::before
        {
          top:-10px;
        }
        .Navmenu > .toggler:hover:not(:checked) + .Hamburger > div::after
        {
          top: 10px;
        }
        .toggler:checked + .Hamburger > div
        {
            transform: rotate(45deg);
        }
        .toggler:checked + .Hamburger > div:before ,
        .toggler:checked + .Hamburger > div:after 
        {
           top : 0px;
           transform: rotate(90deg);
        } 
        .toggler:checked ~ .NavLink{
            visibility: visible;
        }
         #main
        {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: rgba(0,0,0,0.4);
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 110px;
        }
        .header-logo-box-icon{
            opacity: 0.8;
            max-height:220px;
            max-width: 220px;
            transition: transform 0.4s;
        }
        .header-logo-box-icon:hover
        {
            transform: rotate(360deg) scale(1.2,1.2) ;
        }
        .header-text-logo{
            width:550px;
            margin-top: 40px;
            padding-bottom: 40px;
        }
        .button {
          display: inline-block;
          border-radius: 45px;
          background-color: transparent;
          border-color: white;
          color: #FFFFFF;
          font-size: 15px;
          font-family: sans-serif;
          padding: 25px;
          width: fit-content;
          transition: all .5s;
          cursor: pointer;
          margin: 25px;
        }

        .button span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }
        .button span i{
            opacity: 0;
        }

        .button span:after {
          position: absolute;
          opacity: 0;
          top: 0;
          right: -15px;
          transition: 0.5s;
        }

        .button:hover span i{
          padding-right: 10px;
            opacity: 9;
        }
        .button:hover span{
            padding-right: 10px;
            
        }

        .button:hover span:after {
          opacity: 1;
          right: 0;
        }
        #middle-area{
            width: 100%;
            height: fit-content;
            background-color: #eeeeee;
            display:inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 35px;
        }
        .Box
        {
            background-color:white ;
            height:fit-content;
            width:1050px;
            margin: 20px;
            display: flex;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            flex-direction:row;
            justify-content: space-between;
            margin: 20px;
        }
        .content-box{
            margin: 25px 0px 25px 0px;
            display: flex;
            flex-direction: column;
            box-shadow: 10px;
        }
         .ContentBox .Heading
        {
            font-family: sans-serif;
            font-size: 17.6px;
            margin: 20px 5px 15px 20px;
        }
        .ContentBox .Heading2
        {
            color: rgb(115, 114, 114);
            font-size: 1rem;
            line-height: 3rem;
            margin: 5px 5px 15px 20px;
        }
        .ContentBox .Paragraph
        {
            color: rgb(115, 114, 114);
            font-size: 1rem;
            font-weight: 300;
            line-height: 2rem;
            margin: 15px 5px 15px 20px;
        }
        #image1{
            background-image: url("../img/vintage.jpg");
            background-size: cover;
            clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
            width: 100%;
        }
        #image2
        {
            background-image: url("../img/quiz.jpg");
            background-size: cover;
            clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
            width: 100%;
        }
        #image3
        {
            background-image: url("../img/magic.jpg");
          background-size: cover;
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
          width: 100%;
        }
        .Rules
        {
            display: block;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            width: fit-content;
            height: fit-content;
            border: 1px solid rgb(7, 90, 7);
            font-family: sans-serif;
            text-decoration:none;
            margin: 15px 5px 15px 20px;
            color: rgb(7, 90, 7);
        }
        .Rules:hover
        {
            color: white;
            text-decoration: none;
            background-color: rgb(7, 90, 7);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .footer{
            overflow: hidden;
            position: relative;
            width:100%;
            height:100px;
            justify-content: center;
        }
        .footer-image{
            width: 100%;
            height: 100%;  
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: scroll;
            animation-name: zoom;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            background-blend-mode: color;
            background-image: linear-gradient(rgb(0, 105, 92), rgb(0, 105, 92)), url(../img/footer.png);
            position: absolute;
        }
        .footer-icons{
            position: absolute;
            z-index: 78;
            justify-content: center;
            display:inline-flex;
            align-items: center;
            left: 550px;
            bottom: 50px; 
            color: white;

        }
        .footer-icons i{
            position: relative;
            display:inline-flex;
            height:35px;
            width: 35px;
            justify-content:center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
            z-index: 90;
            margin: 7px;
                    
        }
        .footer-icons i:hover
{
            transform: rotate(10deg) scale(1.18,1.18);
        }
        .footer-base{
            width: 100%;
           height: 25%;
           background-color:rgb(0, 77, 64); 
            position: absolute;
            top:75px;
            justify-content: center;
            align-items: center;
        }
        .trademark{
            color: white;
            font-size: 9px;
            
        }
        .footer-base p{
            position: absolute;
            justify-content: center;
            align-items: center;
            left: 580px;
            margin: 6px;
        }
        @keyframes zoom{
            0%{
                        transform: scale(1,1);
                    }
                    50%{
                        transform: scale(1.4,1.4);
                    }
                    100%{
                        transform: scale(1,1);
                    }
        }
        ::-webkit-scrollbar {
          width: 20px;
            background: black;
            margin: 2px;
        }
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 10px cyan;
        }
        ::-webkit-scrollbar-thumb {
          background-color:darkcyan; 
          border-radius: 50px;
        }
        ::-webkit-scrollbar-thumb:hover {
          background-color:darkseagreen; 
        }